header {
    background-image: url('mansour-news-banner@2x (1).jpg');
    background-size: cover;
    height: 50vh;
}

header .layer {
    height: 50%;
}

.mylogo {
    height: 70px;
}

.brd {
    background-color: gray;
    width: 2px;
    height: 30px;
    margin: auto;
}

#myp2 {
    color: #00b4ff;
}

#myh {
    color: #033762;
}

#dna {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 200;
}

#date {
    font-size: 12px;
}

.myphoto {
    width: 100%;
    height: 75%;
}

#link {
    font-size: 12px;
}

.myframe {
    height: 102px;
    width: 500px;
    border: 0;
}

.myphoto2 {
    width: 100%;
    height: 100%;
}

.myphoto3 {
    width: 100%;
    height: 25%;
}

.line {
    background-color: #0978bd;
    border-color: #0978bd;
}

.line2 {
    background-color: #fdba14;
    border-color: #fdba14;
}

.line3 {
    background-color: #5c8158;
    border-color: #5c8158;
}

.line4 {
    background-color: #cb1e31;
    border-color: #cb1e31;
}

.line5 {
    background-color: #929292;
    border-color: #929292;
}

.line6 {
    background-color: #006e64;
    border-color: #006e64;
}

.mylinee {
    height: 2px;
    background-color: grey;
}

.mysecondline {
    width: 7%;
    height: 3px;
    display: none;
    background-color: white;
}