<header>
    <div class="layer">
        <div class="d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg  bg-transparent ">
                <div class="container-fluid">
                    <div class="my-2 me-5">
                        <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png" routerLink="/home"></a>
                    </div>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <a class="nav-link active text-white fw-bold ms-5 myunderline" aria-current="page" routerLink="/whoweare">Who We Are</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-2 myunderline2" routerLink="/approach">Our Approach</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white fw-bold ms-2 myunderline3" routerLink="/business">Our Businesses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-2 myunderline4" routerLink="/approach">Our Global Reach</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-2 myunderline5" routerLink="/our">Our Positive Impact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-3 myunderline6" routerLink="/media">Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-3 myunderline7" routerLink="/contact">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.linkedin.com/company/the-mansour-group/" class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3">in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="w-100 mylinee ">
            <div class="mysecondline"></div>
        </div>
        <div>
            <h1 class="text-center text-white mt-5 p-3">Media</h1>
        </div>
    </div>
</header>


<section class="mt-2 pt-5 pb-5">
    <div class="text-center ">
        <div class="brd"></div>
        <p class="mt-2 fs-6" id="myp2">MANSOUR GROUP NEWS</p>
        <h3 class="fs-2 mb-3" id="myh">Keep up-to-date with all the
            <span id="dna">latest <br> news </span>about our developments</h3>
    </div>
</section>

<section class=" text-dark mb-3">
    <div class="row justify-content-center ">
        <div class="col-lg-4 bg-primary  bg-opacity-10 pb-5">
            <p id="date" class="pt-2">ARTICLE —29/10/2021</p>
            <h3 class="text-primary text-opacity-75 fs-2 pb-3" id="dna">Mohamed Mansour<br> honoured by NCSU <br> with Distinguished<br> Alumni Award </h3>
            <p class="text-muted fst-normal">Mr Mansour has received North Carolina State<br> University’s 2021 Distinguished Alumni Award,<br> representing the Wilson College of Textiles.</p>
            <a class="mt-2" target="_blank" href="https://textiles.ncsu.edu/news/2021/10/mohamed-mansour-68-honored-with-2021-distinguished-alumni-award/">Read full story</a>
        </div>
        <div class="col-lg-5 bg-primary bg-opacity-10 ">
            <img class="myphoto pt-5 pe-5 pb-5" src="assets\Mr-Mohamed-Mansour.jpg">
        </div>
        <div class="col-lg-2">
            <p id="date">ARTICLE — 12/5/2021</p>
            <h3 class="text-primary text-opacity-75 fs-6" id="dna">Covid memorial fund nears £1.5m thanks to tycoon’s donation</h3>
            <p class="text-muted fst-normal">Mohamed Mansour<br> gives £100,000 to the <br> Daily Mail’s Remember<br> Me campaign, which is<br> helping to build a<br> memorial in St. Paul’s
                <br> Cathedral in memory of <br>the victims of COVID-19.</p>
            <a class="mt-2" target="_blank" href="https://www.dailymail.co.uk/news/article-9568783/Covid-Remember-memorial-fund-nears-1-5m-thanks-tycoons-donation.html">Read full story</a>
        </div>
    </div>
</section>

<div class="me-5 ms-5">
    <hr class="border border-dark bg-dark">
</div>

<section class="mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 bg-primary  bg-opacity-10">
            <img class="myphoto pt-5 " src="assets\5828746-1590479311884-9d1ddff258d72.jpg">
        </div>
        <div class="col-lg-5 bg-primary  bg-opacity-10">
            <p id="date" class="pt-2">PODCAST —7/12/2021</p>
            <a href="" class="text-white text-decoration-none">
                <h2 class="text-primary text-opacity-75 " id="dna">The Mansour Voice: #009 <br> Pursuing Your Dreams</h2>
            </a>
            <p class="text-muted fst-normal">For the latest episode of The Mansour Voice, Mr Mohamed Mansour, Founder and Chairman of Man Capital, is joined again by Loutfy Mansour, CEO of Man Capital, and Tom Vernon, the CEO of Right to Dream, as well as special guest, James ‘C’ Nortey,
                Character Development Coach at FC Nordsjaelland. This episode explores the theme of ‘pursuing your dreams’ and how Right to Dream has enabled so many young people like C to not only achieve their footballing ambitions but also to pursue
                alternative passions and personal development. Coming up to a year on from the announcement of Man Capital’s partnership with Right to Dream, the speakers also discuss what’s on the horizon for the organisation.</p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 me-4 mt-2" id="link" target="_blank" href="" role="button">FIND OUT MORE</a>
            <a class="btn btn-info rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="" role="button">SEE ALL PODCASTS</a>
            <div class="mt-4"><span class="fs-5 text-muted">Share Is :</span>
                <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.mansourgroup.com%252Fpodcasts%252Fepisode-9-pursuing-your-dreams%252F&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB"
                    target="_blank" class="text-dark"><i class=" ps-3 fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://www.mansourgroup.com/podcasts/episode-9-pursuing-your-dreams/" target="_blank" class="text-dark"><i class=" ps-3 fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2FshareArticle%2F%3Furl%3Dhttps%3A%2F%2Fwww%2Emansourgroup%2Ecom%2Fpodcasts%2Fepisode-9-pursuing-your-dreams%2F&trk=login_reg_redirect" target="_blank"
                    class="ps-3 fs-5 text-dark fw-bold text-decoration-none">in</a> </div>
            <br>
            <iframe src="https://anchor.fm/mansour-group/embed/episodes/Pursuing-Your-Dreams-e1bc3kj/a-a7202le" class="myframe" scrolling="no"></iframe>
        </div>
    </div>
</section>

<div class="me-5 ms-5">
    <hr class="border border-dark bg-dark">
</div>

<section class="mb-4">
    <div class="row justify-content-center ">
        <div class="col-lg-4">
            <div>
                <p id="date" class="pt-2 text-primary">PODCAST —7/12/2021</p>
                <img class="myphoto2 mb-2" src="assets\mansour-right-to-dream-partnership.jpg">
                <h4 class="text-primary text-opacity-75 " id="dna">Man Capital invests in €100m <br>football partnership with Right<br>To Dream</h4>
                <p class="text-muted fst-normal">Man Capital is hugely proud and excited to announce a €100m<br> partnership with the inspirational Right To Dream group and FC Nordsjaelland football club.</p>
                <a class="mt-2" target="_blank" href="">Read full story</a>
            </div>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-2">
            <img class=" myphoto3 mt-5 rounded-circle" src="assets\mansour-group-mohamed-mansour-bbc-world-service-480x480 (1).jpg">
            <p id="date" class="mt-3 text-primary">ARTICLE — 04/02/2021</p>
            <h4 class="text-primary text-opacity-75 " id="dna">The National: Mohamed Mansour, the billionaire who doesn’t measure success in zeroes</h4>
            <div>
                <hr class="border border-dark bg-dark">
            </div>
            <p id="date" class="mt-3 text-primary">ARTICLE — 15/02/2021</p>
            <h4 class="text-primary text-opacity-75 " id="dna">City AM: ‘Investors should ready themselves for a great wave of innovation’ writes Mohamed Mansour</h4>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-4">
            <div>
                <p id="date" class="pt-2 text-primary">ARTICLE — 08/07/2020</p>
                <img class="myphoto2 mb-2" src="assets\mansour-group-mohamed-mansour.jpg">
                <h4 class="text-primary text-opacity-75 " id="dna">Dow Jones / PEN: ‘Coronavirus will see family offices emerge from the shadows’ writes Mohamed Mansour</h4>
                <p class="text-muted fst-normal">In this article for Private Equity News, Mr Mohamed Mansour discusses how Family Offices, an often-overlooked source of capital, will play a considerable role in driving the global economy’s revival.</p>
                <a class="mt-2" target="_blank" href="">Read full story</a>
            </div>
        </div>
    </div>
</section>


<div class="me-5 ms-5">
    <hr class="border border-dark bg-dark">
</div>

<section class="mb-5">
    <div class="row justify-content-center">
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-3">
            <div class="line">
                <hr class="border border-3 ">
            </div>
            <h4 class="text-primary text-opacity-75 fw-bold ">Mansour Group Corporate</h4>
            <p id="date" class="pt-2 text-primary">ARTICLE — 28/06/2020</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">Forbes Middle East: Top 100 Arab Family Businesses In The Middle East 2020</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 08/06/2020</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Mansour Group Launches New Podcast Series – The Mansour Voice</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 22/05/2020</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Mansour Group supports global efforts to combat Coronavirus</p>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-3">
            <div class="line">
                <hr class="border border-3 ">
            </div>
            <h4 class="text-primary text-opacity-75 fw-bold ">Al Mansour Automotive</h4>
            <p id="date" class="pt-2 text-primary">VIDEO — 06/11/2020</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">Life at Mansour Automotive</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 11/03/2021</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Al Mansour Automotive stays on top of the cars market in Egypt!</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 17/11/2020</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">The much-awaited newest MG member, the HS, is finally in Egypt</p>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-3">
            <div class="line2">
                <hr class="border border-3 ">
            </div>
            <h4 class=" text-warning text-opacity-75 fw-bold ">Mantrac Group</h4>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 16/04/2020</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">MAC East Africa donates UGX. 80 million to the Ministry of Health for fighting COVID-19</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 31/03/2019</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Mantrac Group Supplies major retail chain with IBM Power Systems solutions</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 05/02/2018</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Mantrac Group Announce Dell EMC Partnership Agreement In Egypt</p>
        </div>
        <div class="vr bg-dark p-0"></div>
    </div>
</section>

<div class="me-5 ms-5">
    <hr class="border border-dark bg-dark">
</div>

<section class="mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="line3">
                <hr class="border border-3 ">
            </div>
            <h4 class="text-success text-opacity-75 fw-bold ">MHCFI</h4>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 07/12/2020</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">Mansour Group Backs Community Project at Ancient Site in Egypt</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 10/05/2020</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">
                Al Mansour Holding Company for Financial Investments donates over 50 million EGP to fight COVID-19</p>
            <p id="date" class="pt-2 text-primary">ARTICLE — 03/12/2019</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Scoop Empire: Mansour Mobilizes To Phase Out One-Use Plastic Bags</p>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-2">
            <div class="line4">
                <hr class="border border-3 ">
            </div>
            <h4 class="text-danger text-opacity-75 fw-bold ">Manfoods</h4>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 29/03/2020</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">McDonald’s Egypt Provides More Than 120,000 Protective Supplies and Meals for Medical Staff in 6 Governorates</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 04/03/2018</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna"> Your Right to Know Campaign</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 05/04/2017</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Orphans Day 2017</p>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-2">
            <div class="line5">
                <hr class="border border-3 ">
            </div>
            <h4 class=" text-secondary text-opacity-75 fw-bold ">MMID</h4>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 10/04/2019</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">Crédit Agricole Egypt inaugurates its first cashless branch</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 24/03/2019</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna"> Palm Hills Co-development Agreement in Sheikh Zayad City</p>
            <p id="date" class="pt-2 text-primary">PRESS RELEASE — 06/03/2019</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Palm Hills and Sarwa Capital concludes portfolio securitization</p>
        </div>
        <div class="vr bg-dark p-0"></div>
        <div class="col-lg-3">
            <div class="line6">
                <hr class="border border-3 ">
            </div>
            <h4 class="text-success text-opacity-75 fw-bold ">Man Capital</h4>
            <p id="date" class="pt-2 text-primary">ARTICLE — 29/03/2021</p>
            <p class="text-primary text-opacity-75 fw-bold" id="dna">Inside Right To Dream, The Unique Organization Transforming Lives That Could Change The Future Of Soccer</p>
            <p id="date" class="pt-2 text-primary">ARTICLE — 03/11/2020</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">Bloomberg: Billionaire Has No Regrets About Pulling His Money Out of Banks</p>
            <p id="date" class="pt-2 text-primary">RADIO — 29/06/2020</p>
            <p class="text-primary text-opacity-75 fw-bold " id="dna">BBC Business Daily: The billionaire and the pandemic</p>
        </div>
    </div>
</section>

<div class="me-5 ms-5">
    <hr class="border border-dark bg-dark">
</div>

<section>
    <div class="text-center m-5">
        <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" href="" role="button">
    SEE OUR FULL NEWS ARCHIVE</a>
    </div>
</section>
