<!--munav-->
<div class="mynav ">
    <div class="d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg  bg-transparent ">
            <div class="container-fluid">
                <div class="my-2 me-5">
                    <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png" routerLink="/home"></a>
                </div>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class="nav-link active text-white fw-bold ms-5 myunderline" aria-current="page" routerLink="/whoweare">Who We Are</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-2 myunderline2" routerLink="/approach">Our Approach</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white fw-bold ms-2 myunderline3" routerLink="/business">Our Businesses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-2 myunderline4" routerLink="/approach">Our Global Reach</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-2 myunderline5" routerLink="/our">Our Positive Impact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-3 myunderline6" routerLink="/media">Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-3 myunderline7" routerLink="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/company/the-mansour-group/" class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3">in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="w-100 mylinee ">
        <div class="mysecondline"></div>
    </div>
    <div class="w-100 h-50 d-flex justify-content-center align-items-center ">
        <h1>Our Approach</h1>
    </div>
</div>
<!--mysecondsection-->
<section class="mysecondsection my-5">
    <div class=" d-flex justify-content-center ">
        <div class="myline me-5 ">
        </div>
    </div>
    <div class="py-5 my-3 ">
        <p class="text-center " style="font-style:italic ;color: blue;">VISION, MISSION AND STRATEGY</p>
        <h5 class="text-center " style="font-size: 35px;">Our vision</h5>

        <p class="text-center my-5 " style="font-size: 25px;font-style: oblique;color: blue;">
            “Our vision is to be a global group; growth is in our DNA.” –
            <br>Mansour Family

        </p>
    </div>

</section>


<!--mythirdsection-->
<section class="mythirdsection py-5" style="background-color: #abb8c3;">
    <div class=" d-flex justify-content-center me-5">
        <div class="myline">
        </div>
    </div>

    <div class="py-5 my-3 w-50 m-auto ">

        <h5 class="text-center " style="font-size: 35px;">Our mission</h5>

        <p class="text-center my-5 ">
            We are a truly global, cross-border business. We employ over 60,000 people, crossing cultures, religions, and languages. We work together for a common goal of growth and betterment. We are continually identifying new sectors and geographies to invest
            in. We always look to build partnerships for the long-term. We grow and develop together. We invest in our people and support their training and education.

        </p>
    </div>

</section>



<!--mythirdsection-->
<section class="mythirdsection py-5">
    <div class=" d-flex justify-content-center me-5">
        <div class="myline">
        </div>
    </div>

    <div class="py-5 my-3 w-50 m-auto ">

        <h5 class="text-center " style="font-size: 35px;">Our strategy</h5>

        <p class="text-center my-5 ">
            The Mansour Group takes a patient-capital approach to expanding into new sectors and geographies. We make long-term investments in businesses, in partnerships and in people. This approach has allowed us to navigate economic cycles and negotiate the challenges
            of investing in different regions globally<br>. We are continuously seeking new opportunities, partnerships and relationships to drive growth globally, keeping in mind the importance of giving back to the communities in which our
            businesses operate<br>. We have six subsidiary companies which operate businesses across the following sectors globally: automotive, banking & real estate, consumer goods, education, healthcare, IT & telecommunications, machinery & equipment,
            media & advertising, oil & gas, transport and logistics and technology.



        </p>
    </div>

</section>
