<div class="menu ">
    <i class="fa-solid fa-bars  w-100  m-auto text-center"></i>
</div>
<div class="  p-5 mysmallsize ">

    <i class="fa-solid fa-circle-xmark myexit py-5 "></i>

    <dl class=" m-auto ">
        <dt class=" ">
          <a class="fs-4 text-decoration-none text-dark " routerLink="/home">Who We Are</a>
      </dt>
        <dt class="nav-item ">
          <a class="fs-4 text-decoration-none text-dark " routerLink="/approach">Our Approach</a>
          </dt>
        <dt class="nav-item ">
          <a class=" fs-4 text-decoration-none text-dark " routerLink="/business">Our Businesses</a>
      </dt>
        <dt class=" ">
          <a class="fs-4 text-decoration-none text-dark " routerLink="/ourreach">Our Global Reach</a>

      </dt>
        <dt class=" ">
          <a class=" fs-4 text-decoration-none text-dark " href=" ">Our Positive Impact</a>

      </dt>
        <dt class=" ">
          <a class="fs-4 text-decoration-none text-dark " href=" ">Media</a>

      </dt>
        <dt class=" ">
          <a class="fs-4 text-decoration-none text-dark " href=" ">Contact Us</a>

      </dt>
        <dt class=" ">
          <a class="fs-4 text-decoration-none text-dark " href="https://www.linkedin.com/company/the-mansour-group/ "><i class="fa-brands fa-linkedin "></i></a>


      </dt>

    </dl>
</div>
<router-outlet class="overflow-hidden">

</router-outlet>

<section class="lastsection bg-primary overflow-hidden">
    <div class="row text-center pt-5 justify-content-center m-0">
        <div class="col-12">
            <img class="mylogo " src="assets/images/logoo.png">
        </div>
    </div>
    <div class="row justify-content-center m-0 p-0">
        <div class="col-lg-3 d-flex justify-content-center mt-5">
            <div>
                <p class="text-center" style="font-size: 20p;font-weight: bold;">Mansour Group</p>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center"> Who we are</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Our Approach</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center text-decoration-none">Our Businesses</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Our Global Reach</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Our Positive Impact</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Media</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Follow Us</p>
                </a>
                <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2FshareArticle%2F%3Furl%3Dhttps%3A%2F%2Fwww%2Emansourgroup%2Ecom%2Fpodcasts%2Fepisode-9-pursuing-your-dreams%2F&trk=login_reg_redirect" target="_blank"
                    class=" bg-white bg-opacity-75 btn btn-white text-center ms-5" role="button" data-bs-toggle="button">in</a>
            </div>
        </div>
        <div class="col-lg-1 d-flex align-items-center ">
            <div class="myline mb-5">
            </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-center mt-5 ms-2 me-3">
            <div>
                <p class="text-center" style="font-size: 20p;font-weight: bold;">Our Businesses</p>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">AI Mansour Automotive</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">
                        Mantrac
                    </p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">AI Mansour Holding Company for Financial Investments</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Manfoods</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Mansour-Maghraby Investment & Development Company (Palm Hills Developments)</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center">Man Capital</p>
                </a>
            </div>
        </div>
        <div class="col-lg-1 d-flex align-items-center">
            <div class=" myline mb-5 ">
            </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-center mt-5">
            <div class=" ">
                <p style="font-size: 20p;font-weight: bold; " class="text-center ">Latest Press Releases</p>
                <a href=" " class="text-white text-decoration-none">
                    <p class="text-center ">Al Mansour Automotive stays on top of the cars market in Egypt!</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center ">
                        Man Capital invests in €100m football partnership with Right To Dream
                    </p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center ">Mansour Group Backs Community Project at Ancient Site in Egypt</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center ">The much-awaited newest MG member, the HS, is finally in Egypt</p>
                </a>
                <a href="" class="text-white text-decoration-none">
                    <p class="text-center ">Mohamed Mansour Issues Warning About ‘Distorted’ Stock Markets
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-0">
        <div class="col-12">
            <div class="text-center mt-5 last text-white pb-5">
                <strong class=" fw-light ">COPYRIGHT © 2022 MANSOUR GROUP — ALL RIGHTS RESERVED</strong>
                <br>
                <a href="https://www.sandisonpay.co.uk/" target="_blank" class="text-decoration-none mb-5 text-white">
                  by SandisonPay</a>
            </div>
        </div>
    </div>
</section>
<div>
    <img class="backtoup" style="width: 60px;" src="assets/images/back-to-top.jpg">
</div>
