<header>
    <div class="layer">
        <div class="d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg  bg-transparent ">
                <div class="container-fluid">
                    <div class="my-2 me-5">
                        <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png" routerLink="/home"></a>
                    </div>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <a class="nav-link active text-white fw-bold ms-5 myunderline" aria-current="page" routerLink="/whoweare">Who We Are</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-2 myunderline2" routerLink="/approach">Our Approach</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white fw-bold ms-2 myunderline3" routerLink="/business">Our Businesses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-2 myunderline4" routerLink="/approach">Our Global Reach</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-2 myunderline5" routerLink="/our">Our Positive Impact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-3 myunderline6" routerLink="/media">Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold ms-3 myunderline7" routerLink="/contact">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.linkedin.com/company/the-mansour-group/" class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3">in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="w-100 mylinee ">
            <div class="mysecondline"></div>
        </div>
        <div>
            <h1 class="text-center text-white mt-5 p-3">Our Positive Impact</h1>
        </div>
    </div>
</header>


<section class="mt-2 pt-5 pb-5">
    <div class="text-center ">
        <div class="brd"></div>
        <p class="mt-2 fs-5" id="myp2">MAKING A DIFFERENCE</p>
        <h3 class="fs-2 mb-3" id="myh">Philanthropy is part of the <span id="dna">DNA</span>of the<br> Mansour Group</h3>
        <p class="fst-italic mb-5" id="myp">
            <em>We remain committed to supporting and developing programmes that empower
          <br> people in all the territories in which we operate.</em>
        </p>
    </div>
</section>


<section>
    <div class="row justify-content-center text-muted mb-5">
        <div class="col-lg-4">
            The Mansour Group has, since its inception in the 1950s, been actively involved in social initiatives in the geographies we operate. We focus on poverty alleviation, education and healthcare. We also promote environmental sustainability and champion the
            values of efficient and ethical resources utilisation, responsible waste management, and energy conservation.
        </div>
        <div class="col-lg-4">
            Some of these have been implemented by our own foundations such as the Lead Foundation and the Mansour Foundation for Development, while others are enacted through programs that we are proud to support through direct investments, events sponsorship, and
            social awareness campaigns.
        </div>
    </div>
</section>


<section class="bg-primary text-dark bg-opacity-10 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-4 pt-5 pb-5">
            <img class="myphoto" src="assets\mansour-timeline-2003@2x.jpg">
        </div>
        <div class="col-lg-4 pt-5 pb-5">
            <h3 class="mb-3 fs-3" id="myh"> The Lead Foundation</h3>
            <p class="text-muted lh-lg fst-normal">Founded in Egypt in 2003, the foundation provides loans to micro-businesses owned by women and to underprivileged women. It seeks to play a key role in the economic and social development of Egypt. To date, the foundation has provided over
                three million loans to women in Egypt and successfully reaches out to and provides for its target groups.</p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="https://www.lead.org.eg/" role="button">READ MORE</a>
        </div>
    </div>
</section>


<section class="text-dark mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 pt-5 pb-5">
            <h1 class="mb-3 fs-2" id="myh"> Right to Dream Academy</h1>
            <p class="text-muted  fst-normal">Mantrac is a supporter of the Right to Dream Academy, which seeks to use football and education to provide life-changing opportunities to develop the next generation of leaders. Right to Dream was founded in 1999, in Akkra, Ghana, to provide
                children from extreme poverty with the opportunity to build a better life for themselves and their families. It has grown to become a fully residential international school, offering scholarships to talented children from across West Africa.
                Currently spanning three continents, Right to Dream combines elite football development, innovative educational provision and a tailored character development programme to create the leaders of tomorrow. In 2014, Mantrac Ghana financed
                the construction of a state-of-the-art training facility, and has previously assisted with road construction at the academy and site preparation of a girls dormitory, contributing to the successful establishment of Africa’s first residential
                girls academy in May 2013.
            </p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="https://www.righttodream.com/" role="button">READ MORE</a>
        </div>
        <div class="col-lg-4 pt-5 pb-5">
            <img class="myphoto2" src="assets\mantrac-right-to-dream@2x.jpg">
        </div>
    </div>
</section>

<section class="bg-primary text-dark bg-opacity-10 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-4 pt-5 pb-5">
            <img class="myphoto" src="assets\mancapital-european-football-academy@2x.jpg">
        </div>
        <div class="col-lg-4 pt-5 pb-5">
            <h3 class="mb-3 fs-2" id="myh">European Football Academy</h3>
            <p class="text-muted lh-lg fst-normal">Man Capital is the European Football Academy’s principle sponsor and supporter. Founded in 2015, the London-based youth football club aims to make a difference in children’s lives and in English football. With a strong emphasis on education,
                the Academy seeks to produce the best players and achieve positive results by encouraging its players to be involved in school.</p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="https://www.europeanfootball.academy/" role="button">READ MORE</a>
        </div>
    </div>
</section>


<section class="text-dark mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 pt-5 pb-5">
            <h1 class="mb-3 fs-2" id="myh"> “Field of Dreams”</h1>
            <p class="text-muted lh-lg fst-normal">Mantrac provided an Astro turf pitch and modern playground for the Ahenemba International School at Mpatado in Ghana, which has been named ‘The Mansour Field of Dreams’. The school, which was started in 2000 with only two children and now
                has 450 students, is owned by Mrs. Rosemary Ohene Bredu. A 42mx34m football pitch and play area have been added. Students from the Right to Dream academy, owned by Man Capital, also donated football equipment and attended the launch event
                of the Field of Dreams in May 2021 (pictured).</p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="https://www.mantracgroup.com/" role="button">READ MORE</a>
        </div>
        <div class="col-lg-4 pt-5 pb-5">
            <img class="myphoto" src="assets\mansour-group-field-of-dreams@2x.jpg">
        </div>
    </div>
</section>


<section class="bg-primary text-dark bg-opacity-10 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-4 pt-5 pb-5">
            <img class="myphoto2" src="assets\manfoods-positive-impact.jpg">
        </div>
        <div class="col-lg-4 pt-5 pb-5">
            <h3 class="mb-3 fs-1" id="myh">ManFoods</h3>
            <p class="text-muted lh-lg fst-normal">Since its opening, McDonald’s Egypt has been dedicated to supporting the community on two levels – nationally through charity causes and development projects; and on the restaurant level through local initiatives. McDonald’s adopted Ezbet
                KhairAllah Project since 2009 which focuses on the wellbeing and development of underprivileged children in unplanned communities in cooperation with NGO “Peace & Plenty”. Starting with Ezbet KhairAllah and Batn El Bakara, McDonald’s successfully
                renovated 22 nurseries and eight primary schools. The vision of McDonald’s Egypt is to provide children in unplanned communities the necessary education that enables them to be part of the productive Egyptian workforce.</p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="https://mcdonalds.eg/learn/Responsibility/mcdonalds-egypt-in-the-community" role="button">READ MORE</a>
        </div>
    </div>
</section>


<section class="text-dark mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 pt-5 pb-5">
            <h1 class="mb-3 fs-2" id="myh">Wadi Gharba Community Centre</h1>
            <p class="text-muted lh-lg fst-normal">The Mansour Group is a proud supporter of the Wadi Gharba Community Centre, an important resource for the Bedouin people and other residents of Saint Catherine, a UNESCO World Heritage Site in Egypt. The community centre, located 30 minutes’
                drive from Mount Sinai in Saint Catherine’s protectorate, aims to support and empower the local community by providing space for all ages of the community to interact and learn. It will also provide facilities for travellers to stay and
                learn about the local culture, attend classes conducted by locals and volunteer in the local community activities. The centre also provides vital medical services to residents of Saint Catherine.
            </p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 mt-2" id="link" target="_blank" href="" role="button">READ MORE</a>
        </div>
        <div class="col-lg-4 pt-5 pb-5">
            <img class="myphoto2 " src="assets\MHCFI-UNESCO-Saint-Catherine.jpg">
        </div>
    </div>
</section>
