<!--navbar-->
<div class="mynav ">
    <div class="d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg  bg-transparent ">
            <div class="container-fluid">
                <div class="my-2 me-5">
                    <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png" routerLink="/home"></a>
                </div>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class="nav-link active text-white fw-bold ms-5 myunderline" aria-current="page" routerLink="/whoweare">Who We Are</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-2 myunderline2" routerLink="/approach">Our Approach</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white fw-bold ms-2 myunderline3" routerLink="/business">Our Businesses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-2 myunderline4" routerLink="/approach">Our Global Reach</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-2 myunderline5" routerLink="/our">Our Positive Impact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-3 myunderline6" routerLink="/media">Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold ms-3 myunderline7" routerLink="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/company/the-mansour-group/" class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3">in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="w-100 mylinee ">
        <div class="mysecondline "></div>
    </div>
    <div class="w-100 h-50 d-flex justify-content-center align-items-center ">
        <h1 class="text-white ">Who We Are</h1>
    </div>
</div>

<!--second section-->

<section class="mysecondsection my-5 ">
    <div class=" d-flex justify-content-center ">
        <div class="myline ">
        </div>
    </div>
    <div class="py-5 my-3 ">
        <h5 class="text-center ">ABOUT THE MANSOUR GROUP</h5>
        <h3 class="text-center ">The Mansour Group is a global,
            <br><em> family-owned </em>conglomerate</h3>
        <p class="text-center my-5 home-ogp " style="font-weight: 1.5rem; "><em>The Mansour Group was founded more than 60 years ago and now has over 60,000
            <br> employees, a presence in more than 100 countries and total revenues exceeding $7.5
            <br> billion.
</em>
        </p>
    </div>
</section>


<!--third section-->
<section class="thethirdsection my-5 ">
    <div class=" d-flex justify-content-center ">
        <div class="myline ">
        </div>
    </div>
    <div class="py-5 my-3 ">

        <h3 class="text-center ">Founders <em>and/or</em> board members of
            <br> the Mansour Group
        </h3>

    </div>
    <div class="container ">
        <div class="row ">
            <div class="col-lg-4 loutfy ">
                <div class="d-flex justify-content-center ">
                    <img src="../assets/images/loutfy.jpg " class="w-50 profile ">
                </div>
                <h4 class="my-2 text-center textofbio ">Mr. Loutfy Mansour</h4>
                <p class="my-2 text-center textofbio paraofbio ">Founder — Deceased in 1976</p>
            </div>
            <div class="col-lg-4 ismail ">
                <div class="d-flex justify-content-center ">
                    <img src="../assets/images/ismail.jpg " class="w-50 profile ">
                </div>
                <h4 class="my-2 text-center textofbio ">Mr. Ismail Mansour</h4>
                <p class="my-2 text-center textofbio paraofbio ">Founder — Deceased in 1997</p>
            </div>
            <div class="col-lg-4 youssef ">
                <div class="d-flex justify-content-center ">
                    <img src="../assets/images/yousseef.jpg " class="w-50 profile ">
                </div>
                <h4 class="my-2 text-center textofbio ">Mr. Youssef Mansour</h4>
                <p class="my-2 text-center textofbio paraofbio ">Founder and Board Member</p>
            </div>
        </div>

        <!--the bio of loutfy-->
        <div class="row my-5 ddd loutfybio ">
            <div class=" col-lg-6 ">
                <p class="leftpara ">Born in 1909 in Egypt, <strong class="foundername ">Loutfy Mansour</strong> founded and
                    <br> began building the family business empire. He was
                    <br> educated internationally and in 1933 was awarded a
                    <br> BA at St. John’s College, Cambridge.
                    <br>
                    <br>
                    <strong style="color: black; " class="rightpara "> After Cambridge, he returned to Egypt, held various government positions, including Under-Secretary for The Ministry of Agriculture, specialising in the export of Egyptian cotton. In 1948, he resigned from his senior
                    government positions to transfer his expertise to the private sector. In 1952, he created a successful business in cotton exporting, and Loutfy Mansour and Sons was established. This company quickly became a very successful cotton
                    exporting enterprise and gained international acclaim. Demand from global markets such as the USA, the Soviet Union, China, Japan, the United Kingdom, and Europe established Egyptian cotton as a luxury good.</strong>                    </p>

            </div>
            <div class="col-lg-6 ">
                <p class="rightpara ">
                    In 1964, the Egyptian President Nasser and his government nationalised the major industries including cotton. The government totally confiscated the Mansour Family’s businesses and their assets sequestrated. In 1973, the new Egyptian government under
                    President Sadat returned the cotton business and assets to the Mansour Family<br>
                    <br>. In 1968, the President of Sudan engaged Loutfy to upgrade his country’s cotton industry. In the early 1970s, Loutfy opened an office in Geneva, Switzerland, from which he expanded his cotton brokerage business internationally
                    while continuing to develop Sudanese exports.<br><br> In 1975, Loutfy’s business character and values of integrity, hard work and confidence inspired him to return to Egypt and branch out into a new industry. He soon established a
                    successful and powerful partnership with General Motors.<br><br> Loutfy Mansour died in 1976 and left his business empire to his four sons, Ismail, Youssef, Mohamed and Yasseen, and his daughter, Rawya.


                </p>

            </div>
        </div>


        <!--the bio of ismail-->
        <div class="row my-5 ddd ismailbio ">
            <div class="col-lg-6 ">
                <p class="leftpara ">
                    <strong class="foundername ">Ismail Mansour</strong> was born in 1944 in Cairo, Egypt. He was schooled at Victoria College, Alexandria, from 1950 to 1963, and continued his education in the United States at the University of North
                    Carolina where he majored in Business Administration from 1963 to 1968.
                </p>

            </div>
            <div class="col-lg-6 ">
                <p class="rightpara ">
                    In 1969, he left the United States and went to work for the family business Mansour and Sons in Sudan, where he focused on their successful cotton trading business. In 1975, he returned to Egypt to serve on the board of directors of the group’s automotive
                    businesses and was the founder of Mantra Automotive Company<br><br>. Ismail Mansour is most remembered for his generosity and kindness. As a very charismatic and confident individual, he drove the success of the
                    Group during its infancy. He passed away in 1997 and was succeeded by his brothers, sister and three children.

                </p>

            </div>
        </div>


        <!--the bio of youssef-->
        <div class="row my-5 ddd youssefbio ">
            <div class="col-lg-6 ">
                <p class="leftpara ">
                    <strong class="foundername ">Youssef Mansour</strong> has successfully navigated through different industrial, trading, and banking sectors holding key positions which make him uniquely suited to the position of Chairman of the Mansour
                    Group of Companies.
                </p>

            </div>
            <div class="col-lg-6 ">
                <p class="rightpara ">
                    Beyond this extensive professional career experience, he is a founding member of the American Egyptian Chamber of Commerce and also belongs to the Egypt – US Business Council as well as the Council of Egyptian businessmen. He also is the Founder of Mantrac
                    and served as Chairman from 1977 to 1992.<br><br> Youssef Mansour was born on May 21, 1945, in Alexandria, Egypt. After obtaining a degree in textile technology and chemistry at North Carolina State University,
                    he went on to obtain an MBA at Auburn University in Alabama in 1972.



                </p>

            </div>
        </div>



        <div class="row my-5 ">
            <div class="col-lg-4 mohamed ">
                <div class="d-flex justify-content-center ">
                    <img src="../assets/images/mohamed.jpg " class="w-50 profile ">
                </div>
                <h4 class="my-2 text-center textofbio ">Mr. Mohamed Mansour</h4>
                <p class="my-2 text-center textofbio paraofbio ">Founder and Board Member</p>
            </div>
            <div class="col-lg-4 yasseen ">
                <div class="d-flex justify-content-center ">
                    <img src="../assets/images/yassien.jpg " class="w-50 profile ">
                </div>
                <h4 class="my-2 text-center textofbio ">Mr. Yasseen Mansour</h4>
                <p class="my-2 text-center textofbio paraofbio ">Founder and Board Member</p>
            </div>
            <div class="col-lg-4 rawya ">
                <div class="d-flex justify-content-center ">
                    <img src="../assets/images/rawya.jpg " class="w-50 profile ">
                </div>
                <h4 class="my-2 text-center textofbio ">Mr. Rawya Mansour</h4>
                <p class="my-2 text-center textofbio paraofbio ">Founder and Board Member</p>
            </div>
        </div>



        <!--the bio of mohamed-->
        <div class="row my-5 ddd mohamedbio ">
            <div class="col-lg-6 ">
                <p class="leftpara ">
                    <strong class="foundername "> Mohamed Mansour</strong> is the Founder and Chairman of Man Capital. He took over the Mansour Group in 1976. He is the Founder and Chairman of Mansour Automotive Company, one of the world’s leading General
                    Motors distributors, and Mantrac Group and Unatrac, distributors of Caterpillar machines. He is a former Chairman of Crédit Agricole Egypt – the country’s second-largest bank.
                </p>

            </div>
            <div class="col-lg-6 ">
                <p class="rightpara ">
                    He is the Founder and Chairman of the Lead Foundation, a non-profit organisation providing funding to small and micro enterprises for impoverished women in Egypt, which to date has granted 3.5 million loans. He has also served as the Chairman of the Egypt-U.S.
                    Business Council and was the President of the American Chamber of Commerce in Egypt, as well as the Secretary General of the Egyptian Center for Economic Studies (ECES). He also served on the George Washington School of Business Advisory
                    Board and the International Advisory Board of the Coca-Cola Company. He is currently serving on the Advisory Board for the Centre for Contemporary Arab Studies (CCAS) at Georgetown University and is a member of Harvard Kennedy School
                    Dean’s Council.<br><br> From early 2006 until October 2009, he served as the Minister of Transport in Egypt, one of the largest service ministries employing more than 250,000 people. Mohamed Mansour gained an engineering
                    degree from North Carolina State University in 1968 and an MBA from Auburn University in 1971, where he taught until 1973.



                </p>

            </div>
        </div>


        <!--the bio of yasseen-->
        <div class="row my-5 ddd yasseenbio ">
            <div class="col-lg-6 ">
                <p class="leftpara ">
                    <strong class="foundername ">Yasseen Mansour</strong> has been a driving force behind the growth of Palm Hills Developments. He serves as Chairman of the Board of Directors and has guided the company from a single-project entity into
                    a leading real estate player in Egypt.

                </p>

            </div>
            <div class="col-lg-6 ">
                <p class="rightpara ">
                    After demonstrating outstanding business acumen from an early age, Yasseen joined Mansour Motors Group in 1986 and has since led this and his other companies to new heights.<br><br> Philanthropic endeavours have always been a primary
                    pursuit for him. Yasseen is the co-founder and an active member of the Lead Foundation. He is also an active board member of the National Cancer Institute and the Secretary-General of Future Foundation.


                </p>

            </div>
        </div>


        <!--the bio of rawya-->
        <div class="row my-5 ddd rawyabio ">
            <div class="col-lg-6 ">
                <p class="leftpara ">
                    <strong class="foundername ">Rawya Mansour</strong> is the Founder and Chairwoman of RAMSCO Trade and Distribution, which she created in Egypt in 2007. She then founded the RAMSCO for Sustainable Agricultural Development in 2009, and
                    in 2012, she established the Organic Agriculture for Social International Solidarity (OASIS) in the Principality of Monaco.

                </p>

            </div>
            <div class="col-lg-6 ">
                <p class="rightpara ">
                    Rawya studied Commerce and Law at Cairo University before beginning a career in interior design
                    <br>
                    <br>and in 1999, she created RAMSCO for Refined Architecture and Interior Design. Rawya’s is an honorary member of the Egyptian National Women’s Committee for Foreign Affairs, a member of the Clinton Global Initiative Foundation, a
                    member of UNDP’s IDSC, and a member of The Earth Institute at Columbia University. In 2017, Rawya was awarded as an Excellent Business Leader by the International Federation of Business and Professional Women, and in 2019, she received
                    an award from the Ministry of Culture in Cairo for her efforts in agricultural sustainability, female empowerment and the fight against poverty. </p>

            </div>
        </div>



    </div>

</section>


<!--fourth section-->
<section>

    <div class=" d-flex justify-content-center ">
        <div class="myline ">
        </div>

    </div>
    <div class=" my-5 ">
        <h2 class="text-center ">THE MANSOUR STORY</h2>
        <h3 class="text-center ">The Mansour Group has <em>grown</em> over<br> <em>three</em> generations</h3>
        <p style="font-style: italic;color: #00b4ff ; " class="text-center "><em>From its early beginnings as a cotton exporter in Egypt to the global conglomerate it
            <br>is today, the story of the Mansour Group is a testament to the importance of family<br> values, long-term relationships and growth.</em></p>
    </div>
    <div class="container my-5 ">

        <select id="selection" class="form-select ">
                <option value="0 ">select the year and press enter</option>

                <option value="1">1933</option>
                <option value="2">1952</option>
                <option value="3" >1964</option>
                <option value="4" >1970</option>
                <option value="5" >1975</option>
                <option value="6">1976</option>
                 <option value="7">1977</option>
            <option value="8">1985</option>
            <option value="9">1992</option>
            <option value="10">1994</option>
            <option value="11">1995</option>

            <option value="12">1997</option>
            <option value="13">1998</option>
            <option value="14">2000</option>
            <option value="15">2001</option>

              <option value="16">2002</option>

              <option value="17">2003</option>

              <option value="18">2004</option>

              <option value="19">2005</option>
              <option value="20">2006</option>
              <option value="21">2010</option>
              <option value="22">2012</option>
              <option value="23">2013</option>
              <option value="24">2014</option>

              <option value="25 ">2017</option>
              <option value="26 ">2019</option>



                </select>
        <button class="btn-rounded-pill btn-outline-danger btnofselection">enter date</button>

    </div>

    <!--one-->

    <div id="1" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h5>
                    1933
                </h5>
                <h4>Graduation</h4>
                <p class="lastpara py-3" style="font-style: italic; ">Loutfy Mansour graduated from St John’s College, Cambridge University.

                </p>


            </div>
            <div class="col-lg-5 ">
                <img class="w-100 d-flex align-items-end " src="../assets/images/house.jpg ">
            </div>


        </div>
    </div>
    <!--2-->
    <div id="2" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 ">
                <img class="w-100 d-flex align-items-end " src="../assets/images/secondmans.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    1952
                </h1>
                <h4 class="text-end ">Founding of Mansour & Sons Company</h4>
                <p class="text-end lastpara py-3" style="font-style: italic; "> Loutfy Mansour founded Mansour and Sons Cotton Company in Egypt after which it soon exported to USA, the Soviet Union, China and the UK. It became the second-largest cotton exporter in the world.


                </p>


            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>


        </div>
    </div>


    <!--3-->
    <div id="3" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    1964
                </h1>
                <h4>Nationalisation of the cotton industry in Egypt</h4>
                <p class="lastpara py-3" style="font-style: italic; ">
                    President Nasser’s nationalisation policy led to the Mansour family’s business and assets being confiscated.



                </p>


            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/fiower.jpg ">
            </div>


        </div>
    </div>

    <!--4-->
    <div id="4" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/sss.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    1970
                </h1>
                <h4 class="text-end ">Founding of Cotton Brokerage in Geneva</h4>
                <p class="text-end lastpara py-3" style="font-style: italic; ">
                    Loutfy Mansour moved to Geneva, Switzerland to set up a cotton brokerage. The new firm connected cotton traders in Sudan with international buyers
                </p>


            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>


        </div>
    </div>


    <!--5-->

    <div id="5" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    1975
                </h1>
                <h4>Return to Egypt & GM tie-up</h4>
                <p class="lastpara py-3" style="font-style: italic; ">
                    Loutfy Mansour returned to Egypt and founded Mansour Automotive Company which became the dealer for GM in Egypt. Today, it is one of the largest GM distributorships in the world.


                </p>


            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/myhand.jpg ">
            </div>


        </div>
    </div>


    <!--6-->
    <div id="6" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/myhand2.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    1976
                </h1>
                <h4 class="text-end ">Loutfy Mansour passes away</h4>
                <p class="text-end lastpara py-3" style="font-style: italic; ">
                    The business that Loutfy Mansour founded passed to his children – sons Ismail, Youssef, Mohamed, Yasseen and daughter Rawya – following his passing in 1976.



                </p>


            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>


        </div>
    </div>


    <!--7-->

    <div id="7" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h5>
                    1977
                </h5>
                <h4>Mantrac</h4>
                <p class="lastpara py-3" style="font-style: italic; ">
                    Mantrac became the sole authorised dealer of Caterpillar products in Egypt.



                </p>


            </div>
            <div class="col-lg-5 ">
                <img class="w-100 d-flex align-items-end " src="../assets/images/wensh.jpg ">
            </div>


        </div>
    </div>
    <!--8-->
    <div id="8" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 ">
                <img class="w-100 d-flex align-items-end " src="../assets/images/hummer.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    1985
                </h1>
                <h4 class="text-end ">First Locally Assembled GM Vehicle</h4>
                <p class="text-end lastpara py-3" style="font-style: italic; ">
                    Significant co-investment in the first private sector, GM-operated vehicle factory in Egypt, manufacturing the Chevrolet Minibus.





                </p>


            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>


        </div>
    </div>


    <!--9-->
    <div id="9" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    1992
                </h1>
                <h4> Agreement with Philip Morris International</h4>
                <p class="lastpara py-3" style="font-style: italic; ">
                    An agreement was reached to make Mansour Group the sole licensee to manufacture and distribute Philip Morris tobacco products in Egypt.

                </p>


            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/philip.jpg ">
            </div>


        </div>
    </div>

    <div id="10" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 ">
                <img class="w-100 d-flex align-items-end " src="../assets/images/mac.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    1985
                </h1>
                <h4 class="text-end ">Mansour Group becomes national McDonald’s franchisee</h4>
                <p class="text-end " style="font-style: italic; ">
                    Manfoods was established as the sole franchisee for McDonald’s restaurants in Egypt




                </p>


            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>


        </div>
    </div>



    <!--10-->
    <div id="11" class=" row justify-content-center bg-primary bg-opacity-10 ">
        <div class="col-lg-1 ">
            <div class="mt-5 mb-5 ">
                <div><img class="ms-4 imgend" src="../assets/images/left1.svg "></div>
                <div><img class="ms-4 imgend" src="../assets/images/center.svg "></div>
            </div>
        </div>
        <div class="col-lg-10  ">
            <div class="row justify-content-center ">
                <div class="col-lg-4 ">
                    <div class="pt-3 ">
                        <h1 class="text-start" style="font-size: 60px; ">
                            1995
                        </h1>
                        <h4 class=" lasthead text-start">Sunshine</h4>
                        <p class="lastpara text-start" style="font-style: italic; ">
                            Sunshine brands of seafood and frozen vegetables was launched.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-6 d-flex align-items-end ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\sun1.jpg "></div>
                </div>

                <div class="w-100 "></div>
                <div class="col-lg-4 ">
                    <div class="pt-5 mt-5 ">
                        <h4 class="lasthead ">Further acquisitions</h4>
                        <p class="lastpara " style="font-style: italic; ">
                            The Mansour Group acquired the distribution rights in Egypt for IBM, Microsoft, HP and Compaq IT products, the Selcam dairy in Alexandra, and the Hayat water bottling plant near the Siwa Oasis.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-6 d-flex align-items-end ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\sun2.jpg "></div>
                </div>

            </div>
        </div>

    </div>



    <!--11-->
    <div id="12" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/unatrac.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    1997
                </h1>
                <h4 class="text-end lasthead ">unatrac</h4>
                <p class=" text-end lastpara " style="font-style: italic; ">
                    Mansour Group acquired Unatrac, Unilever’s Caterpillar dealership in East and West Africa.



                </p>


            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>


        </div>
    </div>

    <!--12-->
    <div id="13" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    1998
                </h1>
                <h4 class="lasthead "> Lanch Of Metro Market</h4>
                <p class="lastpara " style="font-style: italic; ">
                    The largest supermarket chain in Egypt with over 100 stores, catering to a high-quality shopping experience.


                </p>


            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets/images/metro.jpg ">
            </div>


        </div>
    </div>

    <!--13-->


    <div id="14" class="row justify-content-center bg-primary bg-opacity-25 ">
        <div class="col-lg-10 mt-5 ">
            <div class="row justify-content-center ">
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\mansour-timeline-2000@2x.jpg "></div>
                </div>
                <div class="col-lg-3 ">
                    <div class="  divofyears">
                        <h1 class="text-end">
                            2000
                        </h1>
                        <h4 class="lasthead text-end">Mantrac Group</h4>
                        <p class=" lastpara text-end" style=" font-style: italic; ">
                            Mantrac and Unatrac merged to form Mantrac Group.
                        </p>
                    </div>
                </div>
                <div class="w-100 "></div>
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2000-2@2x.jpg "></div>
                </div>
                <div class="col-lg-3 ">
                    <div class="pt-5 mt-5 ms-5 divofyears">
                        <h4 class="lasthead text-end">Hayat Factory</h4>
                        <p class=" lastpara text-end" style=" font-style: italic; ">
                            The factory bottles water from a reservoir that is over 1,000 meters deep in the Siwa oasis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 mt-4">
            <div class="mt-5 mb-5 ">
                <div><img class="me-4 imgend" src="../assets/images/right1.svg "></div>
                <div><img class="ms-4 imgend" src="../assets/images/center.svg "></div>
            </div>
        </div>
    </div>



    <div id="15" class="row justify-content-center bg-primary bg-opacity-10 ">
        <div class="col-lg-1 ">
            <div class="mt-5 mb-5 ">
                <div><img class="imgend" src="../assets/images/left1.svg "></div>
                <div><img class="imgend" src="../assets/images/center.svg "></div>
                <div><img class="imgend" src="../assets/images/center.svg "></div>
            </div>
        </div>
        <div class="col-lg-10 mt-3 ">
            <div class="row justify-content-center me-5 pe-5 ">
                <div class="col-lg-4 ">
                    <div class="   w-100">
                        <h1 class=" text-start " style="font-size: 60px; ">
                            2001
                        </h1>
                        <h4 class="lasthead mt-3 text-start ">Infort</h4>
                        <p class="lastpara mt-4 me-5 text-start " style="font-style: italic; ">
                            GNS Egypt (rebranded as Infort in 2016) was founded to provide learning opportunities, e-security and application development for its clients.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\mansour-timeline-2001.jpg "></div>
                </div>

                <div class="w-100 mywidth"></div>

                <div class="col-lg-4 h-auto   d-flex align-items-end">
                    <div class=" mt-5 pt-5 ">
                        <h4 class="lasthead text-start">Crédit Argricole</h4>
                        <p class=" lastpara mt-4 me-5 text-start " style=" font-style: italic; ">
                            Crédit Agricole Indosuez Egypt commenced operations following the acquisition of Credit International Egypt.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2001-2@2x.jpg "></div>
                </div>

                <div class="w-100 mywidth2"></div>

                <div class="col-lg-5 d-flex align-items-end ">
                    <div class="pt-5 mt-5   ">
                        <h4 class="lasthead ">Creation of Mansour Foundation for Development</h4>
                        <p class="lastpara mt-4 me-5 mb-5 w-100" style="font-style: italic; ">
                            The Mansour Foundation for Development (MFD) was founded to support and development programmes to empower people in Egypt. Among the initiatives it supports, the MFD helps build schools, address illiteracy and boost educational opportunities for girls.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 w-50 col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2001-3@2x.jpg "></div>
                </div>

            </div>
        </div>

    </div>


    <div id="16" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\mansour-timeline-2002@2x.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    2002
                </h1>
                <h4 class="text-end lasthead ">GM/Mansour Group deepen partnership</h4>
                <p class=" text-end lastpara " style="font-style: italic; ">
                    Deepening an already extensive and long-term partnership, General Motors acquired a stake in Al-Mansour Automotive.
                </p>

            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>
        </div>
    </div>


    <div id="17" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    2003
                </h1>
                <h4 class="lasthead ">Creation of Lead Foundation</h4>
                <p class="lastpara " style="font-style: italic; ">
                    Mohamed Mansour founded the Lead Foundation, which has provided over 2.5 million loans to small businesses and underprivileged women in Egypt.
                </p>

            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\pic.jpg ">
            </div>


        </div>
    </div>

    <div id="18" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\mansour-timeline-2004@2x.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    2004
                </h1>
                <h4 class="text-end lasthead ">GM and Mansour Group expand into Iraq</h4>
                <p class=" text-end lastpara " style="font-style: italic; ">
                    General Motors appointed Al Mansour Automotive as its official dealer in Iraq
                </p>

            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>
        </div>
    </div>

    <div id="19" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    2005
                </h1>
                <h4 class="lasthead ">Creation of Palm Hills Developments</h4>
                <p class="lastpara " style="font-style: italic; ">
                    Palm Hills Developments, a leading real estate developer in the Egyptian market, was established.
                </p>

            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\mansour-timeline-2005@2x.jpg ">
            </div>


        </div>
    </div>


    <div id="20" class="row justify-content-center bg-primary bg-opacity-25 ">
        <div class="col-lg-10 mt-5 ">
            <div class="row justify-content-center ">
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\mansour-timeline-2006@2x.jpg "></div>
                </div>
                <div class="col-lg-3 ">
                    <div class="pb-5 mb-5 divofyears ">
                        <h1 class=" text-end ">
                            2006
                        </h1>
                        <h4 class="lasthead text-end ">GM and Al Mansour Automotive expand further</h4>
                        <p class="lastpara text-end " style="font-style: italic; ">
                            General Motors appointed Al Mansour Automotive as its official dealer in Libya.
                        </p>
                    </div>
                </div>
                <div class="w-100 "></div>
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2006-2@2x.jpg "></div>
                </div>
                <div class="col-lg-3 ">
                    <div class="pt-3 mt-5 divofyears ">
                        <h4 class="lasthead text-end ">Launch of Kheir Zaman</h4>
                        <p class="lastpara text-end " style="font-style: italic; ">
                            Offering a discount supermarket chain across Egypt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 ">
            <div class="pt-4 mt-5 ">
                <div><img class="me-4 imgend " src="../assets/images/right1.svg "></div>
                <div><img class="ms-4 imgend" src="../assets/images/center.svg "></div>
            </div>
        </div>
    </div>


    <div id="21" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    2010
                </h1>
                <h4 class="lasthead ">Creation of Man Capital</h4>
                <p class="lastpara " style="font-style: italic; ">
                    Man Capital LLP, the global investment arm of the Mansour Group, was founded to invest in a number of businesses and ventures around the world.
                </p>

            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\mansour-timeline-2010@2x.jpg ">
            </div>


        </div>
    </div>


    <div id="22" class="w-100 m-auto myclr2 ">
        <div class="row pt-5 ">

            <div class="offset-lg-1 col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\mansour-timeline-2012@2x.jpg ">
            </div>

            <div class="col-lg-5 ">
                <h1 class="text-end " style="font-size: 60px; ">
                    2012
                </h1>
                <h4 class="text-end lasthead ">Man Capital acquisition of Vanguard Logistics Services</h4>
                <p class=" text-end lastpara " style="font-style: italic; ">
                    Man Capital acquired Vanguard Logistics Services, the leading neutral freight consolidation service.
                </p>

            </div>
            <div class=" col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/right1.svg ">
            </div>
        </div>
    </div>


    <div id="23" class="w-100 m-auto myclr ">
        <div class="row pt-5 ">
            <div class="offset-lg-1 col-lg-1 my-5 ">
                <img class="imgend" src="../assets/images/left1.svg ">
            </div>

            <div class="col-lg-4 ">
                <h1 style="font-size: 60px; ">
                    2013
                </h1>
                <h4 class="lasthead ">Man Capital investment in Inspired Education Group</h4>
                <p class="lastpara " style="font-style: italic; ">
                    Man Capital invested in Inspired Education Group (then known as Educas), a group of co-educational, non-denominational, independent schools, furthering its push into the education sector.
                </p>

            </div>
            <div class="col-lg-5 d-flex align-items-end ">
                <img class="w-100 " src="../assets\images\mansour-timeline-2013@2x.jpg ">
            </div>


        </div>
    </div>


    <div id="24" class="row justify-content-center bg-primary bg-opacity-25 ">
        <div class="col-lg-10 mt-3 ">
            <div class="row justify-content-center ">
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\mansour-timeline-2014-2@2x.jpg "></div>
                </div>
                <div class="col-lg-4 ">
                    <div class=" divofyears mt-2 ">
                        <h1 class=" text-end ">
                            2014
                        </h1>
                        <h4 class="lasthead mt-3 text-end ">Man Capital investment in IHS Towers</h4>
                        <p class="lastpara mt-4 text-end " style="font-style: italic; ">
                            Man Capital invested in the largest mobile telecommunications infrastructure provider in Africa, Europe and the Middle East, IHS.
                        </p>
                    </div>
                </div>
                <div class="w-100 "></div>
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2014-3@2x.jpg "></div>
                </div>
                <div class="col-lg-4 mt-5 ">
                    <div class="mt-5 divofyears ">
                        <h4 class="lasthead text-end ">Man Capital investment in Millennium Offshore Services</h4>
                        <p class="lastpara mt-4 text-end " style=" font-style: italic; ">
                            Mansour Group invested in this leading provider of offshore jack-up accommodation services vessels to oil and gas companies in the MENA and Asia-Pacific region.
                        </p>
                    </div>
                </div>


                <div class="w-100 "></div>
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2014-1@2x.jpg "></div>
                </div>
                <div class="col-lg-4 ">
                    <div class=" mt-5 divofyears ">
                        <h4 class="lasthead text-end ">Imperial Tobacco Group</h4>
                        <p class="lastpara mt-4 mb-5 text-end " style="font-style: italic; ">
                            Al Mansour partnered with the ITG.
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="offset-lg-1 col-lg-1 ">
            <div class="mt-5 mb-5 ">
                <div><img class="me-4 imgend" src="../assets/images/right1.svg "></div>
                <div><img class="ms-4 imgend" src="../assets/images/center.svg "></div>
                <div><img class="ms-4 imgend" src="../assets/images/center.svg "></div>
            </div>
        </div>

    </div>


    <div id="25" class="row justify-content-center bg-primary bg-opacity-10 ">
        <div class="col-lg-1 ">
            <div class="mt-5  mb-5 ">
                <div><img class="ms-4 imgend" src="../assets/images/left1.svg "></div>
                <div><img class="ms-4 imgend" src="../assets/images/center.svg "></div>
            </div>
        </div>
        <div class="col-lg-10  ">
            <div class="row justify-content-center ">
                <div class="col-lg-4 ">
                    <div class="pt-3 ">
                        <h1 class="text-sart">
                            2017
                        </h1>
                        <h4 class="lasthead text-start">Mantrac expands into Liberia</h4>
                        <p class="lastpara text-start" style="font-style: italic; ">
                            Mantrac Group became the sole authorised dealer of Caterpillar products in Liberia.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\mansour-timeline-2017@2x.jpg "></div>
                </div>

                <div class="w-100 "></div>
                <div class="col-lg-4 ">
                    <div class="pt-5 mt-5 ">
                        <h4 class="lasthead ">Man Capital co-founds 1984 Ventures</h4>
                        <p class="lastpara " style="font-style: italic; ">
                            Man Capital co-founded 1984 Ventures, a California-based venture capital fund targeting early-stage investments in high-growth technology businesses, and is an anchor investor in the firm’s inaugural fund.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2017-2.jpg "></div>
                </div>

            </div>
        </div>

    </div>

    <!--2019-->
    <div id="26" class="row justify-content-center bg-primary bg-opacity-25 myclr ">
        <div class="col-lg-10 mt-5 mb-4 ">
            <div class="row justify-content-center ">
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto " src="../assets\images\mansour-timeline-2019@2x.jpg "></div>
                </div>
                <div class="col-lg-3 ">
                    <div class="pt-3 me-5 divofyears ">
                        <h1 class="text-end ">
                            2019
                        </h1>
                        <h4 class="lasthead text-end ">BAT Patnership</h4>
                        <p class=" lastpara text-end " style="font-style: italic; ">
                            Al Mansour partnered with BAT to distribute their extensive range of tobacco products in Egypt.
                        </p>
                    </div>
                </div>
                <div class="w-100 "></div>
                <div class="col-lg-6 ">
                    <div class="pt-3 "><img class="myphoto mt-5 " src="../assets\images\mansour-timeline-2019-2@2x.jpg "></div>
                </div>
                <div class="col-lg-3 ">
                    <div class="pt-5 mt-5 divofyears ">
                        <h4 class="lasthead text-end ">Partnership with Hero Motocorp</h4>
                        <p class="lastpara text-end " style="font-style: italic; ">
                            Al Mansour Automotive partnered with Hero Motocorp, the world’s largest motorcycle manufacturer, to form Mantra Motorbike and enter the Ugandan market.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 ">
            <div class="mt-5 pt-5 ">
                <div><img class="me-4 imgend " src="../assets/images/right1.svg "></div>
                <div><img class="ms-4 imgend " src="../assets/images/center.svg "></div>
            </div>
        </div>
    </div>
