<section class="w-100 bg-danger firstsection">

</section>



<section class="secondsection ">
    <div class="iframes">
        <div class="d-flex justify-content-center">
            <img class="w-50 imagesdofiframe" src=" assets/images/iframe.png ">
        </div>

        <section class="mysecondsection">
            <div class=" d-flex justify-content-center ">
                <div class="myline me-5 ">
                </div>
            </div>
            <div class="py-5 my-2 ">
                <p class="text-center " style="font-weight: bolder; font-style:italic ;color: blue;">THE MANSOUR GROUP</p>


                <p class="text-center my-5 " style="font-size: 35px;font-style: oblique;color: blue;">
                    Founded over 60 years ago, we have<br> developed a global presence across a <br>diverse range of industries

                </p>
            </div>

        </section>



    </div>
</section>
<div class="iframeclick">
    <i class="fa-solid fa-circle-xmark myexit py-5 "></i>
    <div class="videoiframe d-flex align-items-center">
        <iframe class="iframeitself wp-video-popup-video is-hosted is-landscape is-resizable " src="" data-wp-video-popup-url="https://player.vimeo.com/video/370344655?byline=0&amp;portrait=0&amp;autoplay=1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""
            allowfullscreen="" allow="autoplay" style=" height:80%;width: 80%; opacity: 1;"> </iframe>
    </div>
</div>


<section class="lasttest my-5 opacity-75 d-flex align-items-center">


    <div class="m-auto w-50 h-50">
        <div class="row ">
            <div class="col-lg-12 bg-danger ">
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis suscipit tempore, a pariatur eveniet perspiciatis dolor, quisquam deserunt praesentium magni beatae quos officiis, accusamus consequuntur voluptate saepe! Possimus
                    praesentium iure error corrupti iste velit porro nisi pariatur facere, sapiente minus itaque molestias totam reprehenderit perferendis earum ipsa, tenetur, optio dolor facilis illo sequi quod? Officia fugit perferendis excepturi rem
                    eveniet, quo ab hic numquam quae, at accusantium, quaerat magnam molestias! Nemo cupiditate sint cumque similique velit laborum vitae porro eaque eveniet dignissimos obcaecati a veniam, quae libero? Ratione obcaecati non fugit eius
                    numquam consectetur, perspiciatis provident! Vitae, id maiores.
                </p>
            </div>
        </div>
    </div>

</section>
