<header class="position-relative ">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="firstShow">
                    <div class="position-absolute top-50 ">
                        <img src="assets\our-approach-ground@2x.png">
                    </div>
                    <div class="position-absolute top-0 start-0">
                        <img src="assets\mansour-leaves@2x.png" class="headerPhoto">
                    </div>
                    <div>
                        <div class="d-flex justify-content-center">
                            <nav class="navbar navbar-expand-lg  bg-transparent ">
                                <div class="container-fluid">
                                    <div class="my-2 me-5">
                                        <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png" routerLink="/home"></a>
                                    </div>
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                        <ul class="navbar-nav ms-auto ">
                                            <li class="nav-item">
                                                <a class="nav-link active text-white fw-bold ms-5 myunderline" aria-current="page" routerLink="/whoweare">Who We Are</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline2" routerLink="/approach">Our Approach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline3" routerLink="/business">Our Businesses</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline4" routerLink="/approach">Our Global Reach</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline5" routerLink="/our">Our Positive Impact</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline6" routerLink="/media">Media</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline7" routerLink="/contact">Contact Us</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="https://www.linkedin.com/company/the-mansour-group/" class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3">in</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="w-100 mylinee ">
                            <div class="mysecondline"></div>
                        </div>
                    </div>
                    <div class="position-absolute">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-lg-2 mt-5">
                                    <img src="assets\mansour-hour-glass@2x.png" class="myphoto2">
                                </div>
                                <div class="col-lg-6 mt-5 ms-5 ps-5">
                                    <h1 class="text-dark text-opacity-75">OUR APPROACH</h1>
                                    <p class="lh-base text-dark text-opacity-50 fs-4">As advocates for patient capital, we invest in business, partnerships and people for the long long-term. </p>
                                    <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph" id="link" target="_blank" href="" role="button">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item ">
                <div class="thirdShow ">
                    <div>
                        <div class="d-flex justify-content-center ">
                            <nav class="navbar navbar-expand-lg bg-transparent ">
                                <div class="container-fluid ">
                                    <div class="my-2 me-5 ">
                                        <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png " routerLink="/home "></a>
                                    </div>
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                                        <ul class="navbar-nav ms-auto ">
                                            <li class="nav-item ">
                                                <a class="nav-link active text-white fw-bold ms-5 myunderline " aria-current="page " routerLink="/whoweare ">Who We Are</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline2 " routerLink="/approach ">Our Approach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline3 " routerLink="/business ">Our Businesses</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline4 " routerLink="/approach ">Our Global Reach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline5 " routerLink="/our ">Our Positive Impact</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline6 " routerLink="/media ">Media</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline7 " routerLink="/contact ">Contact Us</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="https://www.linkedin.com/company/the-mansour-group/ " class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3 ">in</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="w-100 mylinee ">
                            <div class="mysecondline "></div>
                        </div>
                    </div>
                    <div class="position-absolute end-50 bottom-0 ">
                        <img src="assets\mansour-mountains@2x.png " class="myphoto2 ">
                    </div>
                    <div class="position-absolute start-0 bottom-50 mt-5 position-relative ">
                        <img src="assets\mansour-clouds@2x.png " class="myphoto6 ">
                    </div>
                    <div class="position-absolute bottom-50 ms-5 ">
                        <img src="assets\mansour-birds@2x.png " class="myphoto6 ">
                    </div>
                    <div class="position-absolute end-50 top-0 mt-5 pt-5 ms-5 mt-5 ">
                        <img src="assets\mansour-globe@2x.png " class="myphoto6 ms-5 ps-5 ">
                    </div>
                    <div class="position-absolute start-50 ms-5 mt-5 ps-4 pt-3 ">
                        <h1 class="mb-4 fs-1 text-primary text-opacity-75 ">Our Global Reach</h1>
                        <p class="lh-base fw-bold fs-5 text-primary text-opacity-50 "> We see business from a global perspective and believe that<br> cross - border connectivity drives development and growth . </p>
                        <a class="btn btn-primary rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="fourthShow ">
                    <div>
                        <div class="d-flex justify-content-center ">
                            <nav class="navbar navbar-expand-lg bg-transparent ">
                                <div class="container-fluid ">
                                    <div class="my-2 me-5 ">
                                        <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png " routerLink="/home "></a>
                                    </div>
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                                        <ul class="navbar-nav ms-auto ">
                                            <li class="nav-item ">
                                                <a class="nav-link active text-white fw-bold ms-5 myunderline " aria-current="page " routerLink="/whoweare ">Who We Are</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline2 " routerLink="/approach ">Our Approach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline3 " routerLink="/business ">Our Businesses</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline4 " routerLink="/approach ">Our Global Reach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline5 " routerLink="/our ">Our Positive Impact</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline6 " routerLink="/media ">Media</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline7 " routerLink="/contact ">Contact Us</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="https://www.linkedin.com/company/the-mansour-group/ " class=" nav=link bg-white bg-opacity-75 btn text-white btn-white ms-3 ">in</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="w-100 mylinee ">
                            <div class="mysecondline "></div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 ">
                        <img src="assets\positive-impact-quilt-bg@2x-1.png " class="myphoto6 ">
                    </div>
                    <div class="position-absolute bottom-0 start-0 mt-5 pt-5 ">
                        <img src="assets\mansour-impact-landscape@2x.png " class="myphoto8 pt-5 mt-5 ">
                    </div>
                    <div class="position-absolute start-0 bottom-0 ">
                        <img src="assets\mansour-impact-culture@2x.png " class="myphoto8 ps-5 ">
                    </div>
                    <div class="position-absolute ms-5 ps-5 ">
                        <img src="assets\mansour-impact-sewing-machine@2x.png " class="myphoto8 ms-5 ps-5 ">
                    </div>
                    <div class="position-absolute start-50 ms-5 mt-5 ps-4 pt-3 ">
                        <h1 class="mb-4 fs-1 text-dark text-opacity-75 ">Our Positive Impact</h1>
                        <p class="lh-base fs-5 text-dark text-opacity-50 ">We remain committed to supporting and developing<br> programs that empower people in all the territories<br>in which we operate. </p>
                        <a class="btn btn-primary rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                    </div>

                </div>
            </div>
            <div class="carousel-item ">
                <div class="fifthShow ">
                    <div>
                        <div class="d-flex justify-content-center ">
                            <nav class="navbar navbar-expand-lg bg-transparent ">
                                <div class="container-fluid ">
                                    <div class="my-2 me-5 ">
                                        <a><img class="mylogo pb-2 me-5 " src="assets\logoo.png " routerLink="/home "></a>
                                    </div>
                                    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                                        <ul class="navbar-nav ms-auto ">
                                            <li class="nav-item ">
                                                <a class="nav-link active text-white fw-bold ms-5 myunderline " aria-current="page " routerLink="/whoweare ">Who We Are</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline2 " routerLink="/approach ">Our Approach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline3 " routerLink="/business ">Our Businesses</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline4 " routerLink="/ourreach ">Our Global Reach</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-2 myunderline5 " routerLink="/our ">Our Positive Impact</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline6 " routerLink="/media ">Media</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link text-white fw-bold ms-3 myunderline7 " routerLink="/contact ">Contact Us</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="https://www.linkedin.com/company/the-mansour-group/ " class=" bg-white bg-opacity-75 btn text-white btn-white ms-3 ">in</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="w-100 mylinee ">
                            <div class="mysecondline "></div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 start-0 ">
                        <img src="assets\mansour-origins-chest@2x.png " class="myphoto8 ms-5 ">
                    </div>
                    <div class="position-absolute bottom-0 end-50 ">
                        <img src="assets\mansour-origins-clouds@2x.png " class="myphoto2 mb-5 ">
                    </div>
                    <div class="position-absolute start-50 ms-5 mt-5 ps-4 pt-3 ">
                        <h1 class="mb-4 fs-1 text-dark text-opacity-75 ">Our Origins </h1>
                        <p class="lh-base fw-bold fs-5 text-dark text-opacity-50 ">We have always invested in great talent , partnered with <br> outstanding companies , gone the extra mile for our <br> customers and supported the communities we serve . </p>
                        <a class="btn btn-primary rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</header>
<section class="mb-5 overflow-hidden">
    <div class="row">
        <div class="bg-primary firstLayer">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-8 col-sm-4">
                        <div class="secondLayer">
                            <div class="firstLayer bg-primary bg-opacity-75">
                                <div class="text-center ">
                                    <p class="text-white fs-5 fw-muted pt-5">
                                        The Mansour Group is a global, family-owned conglomerate with 60,000 employees,<br> a presence in more than 100 countries and total revenues exceeding $7.5 billion in 2018. Founded over 60 years ago by Loutfy Mansour,
                                        we manage successful businesses across a number of sectors and have long-term partnerships with some of the world’s leading brands including General Motors, Peugeot, MG, Caterpillar, and McDonalds, among many others.
                                        <br> “We think globally and act locally. The Mansour Group tracks the biggest trends driving the global economy and invests in opportunities that will generate growth for the long term.”
                                        <br><br> MR MOHAMED MANSOUR – Mansour Family
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<section>
    <section class="secondsection ">
        <div class="iframes ">
            <div class="d-flex justify-content-center ">
                <img class="w-50 imagesdofiframe " src="assets\mansour-group-video-placeholder.png " id="photo ">
            </div>
            <section class="mysecondsection mt-4 ">
                <div class=" text-center ">
                    <div class="brd "></div>
                    <p class="mt-2 myprgraph " id="myp2 ">OUR ORIGINS</p>
                    <h3 class="mb-3 fs-2 " id="myh ">Three generations of
                        <span id="dna "> growth</span></h3>
                    <p class="text-muted lh-lg ">Founded in 1952 in Egypt by Loutfy Mansour, the Mansour Group has grown into a truly <br> global conglomerate. Each year, we reach new milestones and continue to expand into<br> new markets and sectors, growing the business into what
                        it has become today.</p>
                    <a class="btn btn-primary rounded-pill ps-4 pe-4 mt-2 " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                </div>
            </section>
        </div>
    </section>
    <div class="iframeclick ">
        <i class="fa-solid fa-circle-xmark myexit py-5 " id="photo "></i>
        <div class="videoiframe d-flex align-items-center ">
            <iframe class="iframeitself wp-video-popup-video is-hosted is-landscape is-resizable " src=" " data-wp-video-popup-url="https://player.vimeo.com/video/370344655?byline=0&amp;portrait=0&amp;autoplay=1 " frameborder="0
                                                    " webkitallowfullscreen=" " mozallowfullscreen=" " allowfullscreen=" " allow="autoplay " style=" height:80%;width: 80%; opacity: 1; "> </iframe>
        </div>
    </div>
</section>



<section class=" mb-5 bg-primary bg-opacity-100 ">
    <div class=" text-center pt-5 ">
        <div class="brd "></div>
        <p class="mt-2 fs-6 text-white ">OUR VISION</p>
        <h3 class="mb-3 fs-2 text-white mb-5 ">We are a
            <span id="dna ">close-knit family business</span> at<br> heart, grounded in values of integrity,<br> transparency and trust.</h3>
    </div>
    <div class="mb-5 text-center ">
        <div class="row justify-content-center ">
            <div class="col-lg-3 ">
                <h6 class="text-dark pb-4 ">Our Approach</h6>
                <p class="text-white lh-lg ">We are advocates of patient capital and we invest in businesses, partnerships and people for the long term.</p>
            </div>
            <div class="vr bg-dark p-0 "></div>
            <div class="col-lg-3 ">
                <h6 class="text-dark pb-4 ">Our Global Reach</h6>
                <p class="text-white lh-lg ">We see business from a global perspective and believe that cross-border connectivity drives development and growth.</p>
            </div>
            <div class="vr bg-dark p-0 "></div>
            <div class="col-lg-3 ">
                <h6 class="text-dark pb-4 ">Our Positive Impact</h6>
                <p class="text-white lh-lg ">WWe remain committed to supporting and developing programmes that empower people in all the territories in which we operate.</p>
            </div>
        </div>
    </div>
    <div class="text-center pb-5 ">
        <a class="btn btn-light rounded-pill ps-3 pe-3 mt-2 " id="link " target="_blank " href=" " role="button ">READ MORE</a>
    </div>
</section>

<section class="mb-5 ">
    <div class=" text-center pt-5 ">
        <div class="brd "></div>
        <p class="mt-2 myprgraph " id="myp2 ">OUR BUSINESSES</p>
        <h3 class="mb-3 fs-2 " id="myh ">The Mansour Group’s
            <span id="dna " class="fs-1 ">six</span> subsidiaries</h3>
    </div>
</section>
<section class="bg-primary bg-opacity-10 ">

    <div class="row ">

        <div class="col-lg-12 col-sm-8 ">
            <!--1-mythirdsection-->
            <section class="mythirdsection w-100 ">
                <div class="container ">
                    <div class="row ">
                        <div class=" col-lg-3 text-white ">
                            <h1>Al Mansour<br> Automotive</h1>
                            <p>Al-Mansour Automotive is one of the largest General<br> Motors dealerships in the world, selling around<br> 80,000 vehicles a year and owning franchises for<br> Chevrolet, Opel, Peugeot, MG, and Isuzu.</p>
                            <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--2-mythirdsection-->
            <section class="mythirdsection2 w-100 ddd ">
                <div class="container ">
                    <div class="row ">
                        <div class=" col-lg-4 text-white ">
                            <h1>Mantrac</h1>
                            <p>Mantrac Group is one of the world’s largest<br> Caterpillar dealers, distributing and supporting<br> machinery, power systems and material-handling<br> equipment for the US corporation across much of<br> the Middle East, East
                                and West Africa and Russia.</p>
                            <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                        </div>
                    </div>
                </div>

            </section>
            <!--3-mythirdsection-->
            <section class="mythirdsection3 w-100 ddd ">
                <div class="container ">
                    <div class="row ">
                        <div class=" col-lg-4 text-white ">
                            <h1>
                                Al Mansour Holding Company for Financial Investments
                            </h1>
                            <p>Al Mansour Holding Company for Financial Investments (MHCFI) is Egypt’s<br> largest distribution group, providing a range of consumer goods to 130,000<br> outlets across the country.</p>
                            <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--4-mythirdsection-->
            <section class="mythirdsection4 w-100 ddd ">
                <div class="container ">
                    <div class="row ">
                        <div class=" col-lg-4 text-white ">
                            <h1>
                                Manfoods
                            </h1>
                            <p>Manfoods is the sole franchisee for McDonald’s<br> restaurants in Egypt and today serves more than<br> 70,000 customers every day, across a network of<br> more than 90 branches.</p>
                            <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                        </div>
                    </div>
                </div>

            </section>
            <!--5-mythirdsection-->
            <section class="mythirdsection5 w-100 ddd ">
                <div class="container ">
                    <div class="row ">
                        <div class=" col-lg-6 text-white ">
                            <h1>Mansour-Maghraby Investment & Development Company</h1>
                            <p>Mansour-Maghraby Investment and Development (MMID) makes investments in<br> Egypt across financial services, tourism, real estate, information technology and<br> other sectors.</p>
                            <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                        </div>
                    </div>
                </div>

            </section>
            <!--6-mythirdsection-->
            <section class="mythirdsection6 w-100 ddd ">
                <div class="container ">
                    <div class="row ">
                        <div class=" col-lg-3 text-white ">
                            <h1>Man Capital</h1>
                            <p>Man Capital is the global investment<br> and advisory arm of the Mansour Group.</p>
                            <a class="btn btn-light rounded-pill ps-4 pe-4 mt-2 myprgraph " id="link " target="_blank " href=" " role="button ">READ MORE</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100 "></div>

        <div class="col-lg-12 col-sm-8 ">
            <!--myfourthsection-->
            <section class="myfourthsection my-5 ">
                <div class="container my-5 ">
                    <div class="row ">
                        <!--1-->
                        <div class="col-lg-2 ">
                            <div class=" w-100 m-auto h-75 mychandecolor ">
                                <div class="d-flex justify-content-center pt-3 ">
                                    <img class="imgofhand myphoto6 " src="assets\mansour-hands-auto-blue.svg ">
                                </div>
                                <p class="text-center pb-5 ">Al Mansour
                                    <br> Automotive
                                </p>
                            </div>
                        </div>
                        <!--2-->
                        <div class="col-lg-2 ">
                            <div class="w-100 m-auto h-75 mychandecolor2 ">
                                <div class="d-flex justify-content-center py-3 ">
                                    <img class="imgofhand myphoto6 " src="assets\mansour-hands-yellow.svg ">
                                </div>
                                <p class="text-center py-1 ">
                                    Mantrac
                                </p>
                            </div>
                        </div>
                        <!--3-->
                        <div class="col-lg-2 ">
                            <div class="w-100 m-auto h-75 mychandecolor3 ">
                                <div class="d-flex justify-content-center pt-3 ">
                                    <img class="imgofhand myphoto6 " src="assets\mansour-hands-olive.svg ">
                                </div>
                                <p style="font-size: 14px; " class="text-center ">

                                    Al Mansour Holding Company for Financial Investments
                                </p>
                            </div>
                        </div>
                        <!--4-->
                        <div class="col-lg-2 ">
                            <div class="w-100 m-auto h-75 mychandecolor4 ">
                                <div class="d-flex justify-content-center py-3 ">
                                    <img class="imgofhand myphoto6 " src="assets\mansour-hands-red.svg ">
                                </div>
                                <p class="text-center py-1 ">
                                    Manfoods
                                </p>
                            </div>
                        </div>
                        <!--5-->
                        <div class="col-lg-2 ">
                            <div class="w-100 m-auto h-75 mychandecolor5 ">
                                <div class="d-flex justify-content-center pt-3 ">
                                    <img class="imgofhand myphoto6 " src="assets\mansour-hands-grey.svg ">
                                </div>
                                <p style="font-size: 14px; " class="text-center ">
                                    Mansour-Maghraby Investment&Development Company
                                </p>
                            </div>
                        </div>
                        <!--6-->
                        <div class="col-lg-2 ">
                            <div class="w-100 m-auto h-75 mychandecolor6 ">
                                <div class="d-flex justify-content-center pt-3 ">
                                    <img class="imgofhand myphoto6 " src="assets\mansour-hands-green.svg ">
                                </div>
                                <p class="text-center py-1 ">
                                    Man Capital
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</section>



<section class="mt-4 ">
    <div class=" text-center ">
        <div class="brd "></div>
        <p class="mt-2 myprgraph " id="myp2 ">INVESTMENT AREAS</p>
        <h3 class="mb-3 fs-2 " id="myh ">Our
            <span id="dna "> Investment </span> Sectors</h3>
        <p class="text-primary text-opacity-75 " id="dna ">Our global portfolio consists of companies across the following industries:<br> Automotive, banking & real estate, consumer goods, education, healthcare, IT &<br> telecoms, machinery & equipment, media & advertising, oil & gas, transport &<br>            logistics, technology, and sports.</p>
    </div>
</section>

<section class="mb-5 mt-5 ">
    <div class="container ">
        <div class="d-flex flex-row bd-highlight ">
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-automotive@2x.jpg ">
                        <div class="child text-white ">
                            <h3>AUTOMOTIVE</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" "> 
                        <img class="mycol " src="assets\mansour-real-estate@2x.jpg ">
                        <div class="child text-white ">
                            <h3>BANKING & REAL ESTATE</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-consumer-goods@2x.jpg ">
                        <div class="child text-white ">
                            <h3>CONSUMER GOODS</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-education@2x.jpg ">
                        <div class="child text-white ">
                            <h3>EDUCATION</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight ">
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-healthcare@2x.jpg ">
                        <div class="child text-white ">
                            <h3>HEALTHCARE</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-telecoms@2x.jpg ">
                        <div class="child text-white ">
                            <h3>IT & TELECOMS</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-machinery@2x.jpg ">
                        <div class="child text-white ">
                            <h3>MACHINERY & EQUPIMENT</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-media@2x.jpg ">
                        <div class="child text-white ">
                            <h3>MEDIA & ADVERTISING</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight ">
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-oil-gas@2x.jpg ">
                        <div class="child text-white ">
                            <h3>OIL & GAS</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-logistics@2x.jpg ">
                        <div class="child text-white ">
                            <h3>TRANSPORT & LOGISTICS</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-technology@2x.jpg ">
                        <div class="child text-white ">
                            <h3>TECHNOLOGY</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" bd-highlight ">
                <div class="parent ">
                    <a href=" ">
                        <img class="mycol " src="assets\mansour-sports@2x.jpg ">
                        <div class="child text-white ">
                            <h3>SPORTS</h3>
                            <p id="dna ">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="mb-5 ">
    <div class=" text-center ">
        <div class="brd "></div>
        <h3 class="mb-3 fs-2 " id="myh ">
            Mansour Group
            <span id="dna "> key facts  </span> and statistics</h3>
    </div>
</section>

<section class="mb-5 mt-5 ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-lg-3 text-center p-5 ">
                <h2 class="mb-3 fs-1 " id="myh ">60K</h2>
                <p class="text-primary ">Employees Worldwide</p>
            </div>
            <div class="col-lg-3 text-center p-5 ">
                <h2 class="mb-3 fs-1 " id="myh ">>100</h2>
                <p class="text-primary ">Country Presence</p>
            </div>
            <div class="col-lg-3 text-center p-5 ">
                <h2 class="mb-3 fs-1 " id="myh ">$7.5BN</h2>
                <p class="text-primary ">Total Revenue</p>
            </div>
            <div class="col-lg-3 text-center p-5 ">
                <h2 class="mb-3 fs-1 " id="myh ">1952</h2>
                <p class="text-primary ">Year of Foundation</p>
            </div>
        </div>
    </div>
</section>



<section class="mb-5 overflow-hidden">
    <div class="row">
        <div class="bg-primary firstLayer">
            <div class="thirdLayer">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-sm-4">
                            <div class="text-center mx-auto">
                                <div class=" text-center pt-3 mt-3 text-white">
                                    <div class="brd"></div>
                                    <p class="mt-2 fs-6">OUR GLOBAL REACH</p>
                                    <h3 class="mb-3 fs-4">Some of<span id="dna" class="fs-1"> our partners </span> across the world</h3>
                                    <p>We pride ourselves on the long-term relationships we have built with some of the <br> world’s leading brands..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-sm-8">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <div class="d-flex flex-row bd-highlight">
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\mcd-logo.svg" class="card-img-top myphoto2 p-4" id="photo">
                                            </div>
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\lor-logo.svg" class="card-img-top  myphoto2 p-4 " id="photo">
                                            </div>
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\gm-logo.svg" class="card-img-top myphoto2 p-4" id="photo">
                                            </div>
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\chev-logo.svg" class="card-img-top myphoto2 p-4" id="photo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex flex-row bd-highlight">

                                            <div class="p-3 bd-highlight">
                                                <img src="assets\cat-logo.svg" class="card-img-top  myphoto2 p-4" id="photo">
                                            </div>
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\ups-logo.svg" class="card-img-top myphoto2 p-4" id="photo">
                                            </div>
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\rb-logo.svg" class="card-img-top myphoto2 p-4" id="photo">
                                            </div>
                                            <div class="p-3 bd-highlight">
                                                <img src="assets\ms-logo.svg" class="card-img-top myphoto2 p-4" id="photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container ">
                        <div class="row justify-content-start">
                            <div class="col-lg-1">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span >Previous</span>
                      </button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-lg-1 ">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span>Next</span>

                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-sm-4">
                            <div class=" mt-2">
                                <div class="text-center">
                                    <a href="">
                                        <img src="assets\hotpsot.svg">
                                    </a>
                                    <a href="" class="link-dark myprgraph text-decoration-none">
                                        <p class="mb-5 pb-3 myprgraph">CLICK HERE TO VIEW OUR INTERACTIVE MAP</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="mb-5 mt-5 ">
    <div class=" text-center ">
        <div class="brd "></div>
        <p class="mt-2 myprgraph " id="myp2 ">NEWS</p>
        <h3 class="mb-3 fs-2 " id="myh ">
            Keep up-to-date with all the
            <span id="dna "> latest<br> news </span> about our developments</h3>
    </div>
</section>

<section class=" text-dark mb-3 ">
    <div class="row justify-content-center ">
        <div class="col-lg-4 bg-primary bg-opacity-10 pb-5 ">
            <p id="date " class="pt-2 ">ARTICLE —29/10/2021</p>
            <h3 class="text-primary text-opacity-75 fs-2 pb-3 " id="dna ">Mohamed Mansour<br> honoured by NCSU <br> with Distinguished<br> Alumni Award </h3>
            <p class="text-muted fst-normal ">Mr Mansour has received North Carolina State<br> University’s 2021 Distinguished Alumni Award,<br> representing the Wilson College of Textiles.</p>
            <a class="mt-2 " target="_blank " href="https://textiles.ncsu.edu/news/2021/10/mohamed-mansour-68-honored-with-2021-distinguished-alumni-award/ ">Read full story</a>
        </div>
        <div class="col-lg-5 bg-primary bg-opacity-10 ">
            <img class="myphoto2 pt-5 pe-5 pb-5 " src="assets\Mr-Mohamed-Mansour.jpg ">
        </div>
        <div class="col-lg-2 ">
            <p id="date ">ARTICLE — 12/5/2021</p>
            <h3 class="text-primary text-opacity-75 fs-6 " id="dna ">Covid memorial fund nears £1.5m thanks to tycoon’s donation</h3>
            <p class="text-muted fst-normal ">Mohamed Mansour<br> gives £100,000 to the <br> Daily Mail’s Remember<br> Me campaign, which is<br> helping to build a<br> memorial in St. Paul’s
                <br> Cathedral in memory of <br>the victims of COVID-19.</p>
            <a class="mt-2 " target="_blank " href="https://www.dailymail.co.uk/news/article-9568783/Covid-Remember-memorial-fund-nears-1-5m-thanks-tycoons-donation.html ">Read full story</a>
        </div>
    </div>
</section>

<div class="me-5 ms-5 ">
    <hr class="border border-dark bg-dark ">
</div>

<section class="mb-3 ">
    <div class="row justify-content-center ">
        <div class="col-lg-5 bg-primary bg-opacity-10 ">
            <img class="myphoto3 pt-5 " src="assets\5828746-1590479311884-9d1ddff258d72.jpg ">
        </div>
        <div class="col-lg-5 bg-primary bg-opacity-10 ">
            <p id="date " class="pt-2 ">PODCAST —7/12/2021</p>
            <a href=" " class="text-white text-decoration-none ">
                <h2 class="text-primary text-opacity-75 " id="dna ">The Mansour Voice: #009 <br> Pursuing Your Dreams</h2>
            </a>
            <p class="text-muted fst-normal ">For the latest episode of The Mansour Voice, Mr Mohamed Mansour, Founder and Chairman of Man Capital, is joined again by Loutfy Mansour, CEO of Man Capital, and Tom Vernon, the CEO of Right to Dream, as well as special guest, James ‘C’ Nortey,
                Character Development Coach at FC Nordsjaelland. This episode explores the theme of ‘pursuing your dreams’ and how Right to Dream has enabled so many young people like C to not only achieve their footballing ambitions but also to pursue
                alternative passions and personal development. Coming up to a year on from the announcement of Man Capital’s partnership with Right to Dream, the speakers also discuss what’s on the horizon for the organisation.</p>
            <a class="btn btn-primary rounded-pill ps-2 pe-2 me-4 mt-2 " id="link " target="_blank " href=" " role="button ">FIND OUT MORE</a>
            <a class="btn btn-info rounded-pill ps-2 pe-2 mt-2 " id="link " target="_blank " href=" " role="button ">SEE ALL PODCASTS</a>
            <div class="mt-4 "><span class="fs-5 text-muted ">Share Is :</span>
                <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.mansourgroup.com%252Fpodcasts%252Fepisode-9-pursuing-your-dreams%252F&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_GB "
                    target="_blank " class="text-dark "><i class=" ps-3 fa-brands fa-facebook "></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://www.mansourgroup.com/podcasts/episode-9-pursuing-your-dreams/ " target="_blank " class="text-dark "><i class=" ps-3 fa-brands fa-twitter "></i></a>
                <a href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2FshareArticle%2F%3Furl%3Dhttps%3A%2F%2Fwww%2Emansourgroup%2Ecom%2Fpodcasts%2Fepisode-9-pursuing-your-dreams%2F&trk=login_reg_redirect
                                                    " target="_blank " class="ps-3 fs-5 text-dark fw-bold text-decoration-none ">in</a> </div>
            <br>
            <iframe src="https://anchor.fm/mansour-group/embed/episodes/Pursuing-Your-Dreams-e1bc3kj/a-a7202le " class="myframe " scrolling="no "></iframe>
        </div>
    </div>
</section>


<div class="me-5 ms-5 ">
    <hr class="border border-dark bg-dark ">
</div>

<section class="mb-4 ">
    <div class="row justify-content-center ">
        <div class="col-lg-4 ">
            <div>
                <p id="date " class="pt-2 text-primary ">PODCAST —7/12/2021</p>
                <img class="myphoto2 mb-2 " src="assets\mansour-right-to-dream-partnership.jpg ">
                <h4 class="text-primary text-opacity-75 " id="dna ">Man Capital invests in €100m <br>football partnership with Right<br>To Dream</h4>
                <p class="text-muted fst-normal ">Man Capital is hugely proud and excited to announce a €100m<br> partnership with the inspirational Right To Dream group and FC Nordsjaelland football club.</p>
                <a class="mt-2 " target="_blank " href=" ">Read full story</a>
            </div>
        </div>
        <div class="vr bg-dark p-0 "></div>
        <div class="col-lg-2 ">
            <img class=" myphoto4 mt-5 rounded-circle " src="assets\mansour-group-mohamed-mansour-bbc-world-service-480x480 (1).jpg ">
            <p id="date " class="mt-3 text-primary ">ARTICLE — 04/02/2021</p>
            <h4 class="text-primary text-opacity-75 " id="dna ">The National: Mohamed Mansour, the billionaire who doesn’t measure success in zeroes</h4>
            <div>
                <hr class="border border-dark bg-dark ">
            </div>
            <p id="date " class="mt-3 text-primary ">ARTICLE — 15/02/2021</p>
            <h4 class="text-primary text-opacity-75 " id="dna ">City AM: ‘Investors should ready themselves for a great wave of innovation’ writes Mohamed Mansour</h4>
        </div>
        <div class="vr bg-dark p-0 "></div>
        <div class="col-lg-4 ">
            <div>
                <p id="date " class="pt-2 text-primary ">ARTICLE — 08/07/2020</p>
                <img class="myphoto2 mb-2 " src="assets\mansour-group-mohamed-mansour.jpg ">
                <h4 class="text-primary text-opacity-75 " id="dna ">Dow Jones / PEN: ‘Coronavirus will see family offices emerge from the shadows’ writes Mohamed Mansour</h4>
                <p class="text-muted fst-normal ">In this article for Private Equity News, Mr Mohamed Mansour discusses how Family Offices, an often-overlooked source of capital, will play a considerable role in driving the global economy’s revival.</p>
                <a class="mt-2 " target="_blank " href=" ">Read full story</a>
            </div>
        </div>
    </div>
</section>


<div class="me-5 ms-5 ">
    <hr class="border border-dark bg-dark ">
</div>

<section>
    <div class="text-center m-5 ">
        <a class="btn btn-primary rounded-pill ps-3 pe-3 mt-2 " id="link " href=" " role="button ">
      READ MORE </a>
    </div>
</section>